<!DOCTYPE html>
<html>
<head>
    <title>Административная панель</title>
    <!-- Подключение Bootstrap CSS -->
    <link rel="stylesheet" th:href="@{/styles/bootstrap.min.css}" />
	<link rel="stylesheet" th:href="@{/styles/settings.css}" />
	<link rel="stylesheet" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css">
</head>
<style>
</style>
<body>
    <div id="alert-container" style="position: fixed; bottom: 0; right: 0; width: 350px; z-index: 9999; display: flex; flex-direction: column-reverse; justify-content: end">
        
    </div>
    
    <div class="container">
        <div style="display: flex; justify-content: space-between; align-items: center">
            <h1 class="mt-5 mb-5">Административная панель</h1>
            <button type="button" class="btn btn-secondary" onclick="window.location.href = '/'">Вернуться на главную</button>
        </div>
        <form>
            <div class="form-group">
                <label for="userSelect">Выберите пользователя:</label>
                <select class="form-control" id="userSelect">
                    <!-- Здесь будут добавлены элементы option -->
                </select>
            </div>
            <div class="form-group form-check mt-2">
                <input type="checkbox" class="form-check-input" id="adminCheck">
                <label class="form-check-label" for="adminCheck">Сделать администратором</label>
            </div>
            <div class="form-group form-check">
                <input type="checkbox" class="form-check-input" id="tableCheck">
                <label class="form-check-label" for="tableCheck">Доступ к таблицам</label>
            </div>
            <div class="form-group form-check mb-2">
                <input type="checkbox" class="form-check-input" id="camCheck">
                <label class="form-check-label" for="camCheck">Доступ к веб-камерам</label>
            </div>
            <button type="submit" class="btn btn-primary">Выдать права</button>
        </form>
    </div>

    <!-- Подключение jQuery и Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

    <!-- Ваш массив пользователей и функция для добавления элементов option -->
    <script>
        const apiBaseUrl = 'http://localhost:8080/api';
        fetch(`${apiBaseUrl}/user/`, {
				method: 'GET',
				headers: {
                    'Content-Type': 'application/x-www-form-urlencoded'
                },
				credentials: 'include'
			})
			.then(response => response.text())
			.then(data => {
                const users = JSON.parse(data);

                let select = document.getElementById('userSelect');
                let adminCheck = document.getElementById('adminCheck');
                let tableCheck = document.getElementById('tableCheck');
                let camCheck = document.getElementById('camCheck');
                
                for (let user of users) {
                    let option = document.createElement('option');
                    option.text = user.username;
                    select.add(option);
                }

                if (users.length > 0) {
                    select.value = users[0].username;
                    checkRoles(users[0]);
                }

                select.addEventListener('change', function() {
                    let selectedUser = users.find(user => user.username === select.value);
                    checkRoles(selectedUser);
                });

                document.querySelector('form').addEventListener('submit', function(e) {
                    e.preventDefault(); // Предотвращает перезагрузку страницы

                    let selectedUser = users.find(user => user.username === select.value);

                    if (selectedUser) {
                        selectedUser.role = updateRoles(selectedUser);
                    }

                    fetch(`${apiBaseUrl}/user/updateRole`, {
                        method: 'PUT',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify(selectedUser),
                        credentials: 'include'
                    })
                    .then(response => response.text())
                    .then(data => {
                        //document.getElementById('output').innerText += data + '\n';
                    })
                    .catch(error => {
                        console.error('Error:', error);
                    });
                });
			})
			.catch(error => {
                console.error('Error:', error);
            });

            function checkRoles(selectedUser) {
                let adminCheck = document.getElementById('adminCheck');
                let tableCheck = document.getElementById('tableCheck');
                let camCheck = document.getElementById('camCheck');

                if (selectedUser.role.includes('ROLE_CSV')) {
                    tableCheck.checked = true;
                    
                } else {
                    tableCheck.checked = false;
                }
                if (selectedUser.role.includes('ROLE_RTSP')) {
                    camCheck.checked = true;
                } else {
                    camCheck.checked = false;
                }
                if (selectedUser.role.includes('ROLE_ADMIN')) {
                    adminCheck.checked = true;
                } else {
                    adminCheck.checked = false;
                }

                
               
            }

            function updateRoles(selectedUser) {
                let adminCheck = document.getElementById('adminCheck');
                let tableCheck = document.getElementById('tableCheck');
                let camCheck = document.getElementById('camCheck');

                let roles = selectedUser.role.split(',').map(role => role.trim());

                if (adminCheck.checked) {
                    roles = roles.filter(role => role !== 'ROLE_USER');
                    if (!roles.includes('ROLE_ADMIN')) {
                        roles.push('ROLE_ADMIN');
                    }
                } else {
                    roles = roles.filter(role => role !== 'ROLE_ADMIN');
                    if (!roles.includes('ROLE_USER')) {
                        roles.push('ROLE_USER');
                    }
                }

                if (tableCheck.checked) {
                    if (!roles.includes('ROLE_CSV')) {
                        roles.push('ROLE_CSV');
                    }
                } else {
                    roles = roles.filter(role => role !== 'ROLE_CSV');
                }

                if (camCheck.checked) {
                    if (!roles.includes('ROLE_RTSP')) {
                        roles.push('ROLE_RTSP');
                    }
                } else {
                    roles = roles.filter(role => role !== 'ROLE_RTSP');
                }

                return roles.join(', ');
            }
        // Добавляем слушатели событий на наши checkbox
            document.getElementById('adminCheck').addEventListener('change', showAlert);
            document.getElementById('tableCheck').addEventListener('change', showAlert);
            document.getElementById('camCheck').addEventListener('change', showAlert);

            // Функция для показа alert
            // Функция для показа alert
        function showAlert(e) {
            if (!e.target.checked) {
                return;
            }
            var alertId = '';
            var alertMessage = '';

            if (e.target.id === 'adminCheck') {
                alertMessage = 'Роль пользователя изменена';
            } else if (e.target.id === 'tableCheck') {
                alertMessage = 'Возможность просмотра таблицы добавлена';
            }
            else {
                alertMessage = 'Возможность просмотра камеры добавлена';
            }
            pop_up_html =  `<div id="alert_${e.target.id}" class="alert alert-success alert-dismissible fade show" role="alert" style="display: none;  width: 350px; height: 85px; border-radius: 0; font-size: 20px; z-index: 9999;">
            <span>${alertMessage}</span>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
	    </div>`

            $("#alert-container").append(pop_up_html);
                
            $(`#alert_${e.target.id}`).show();
			setTimeout(function() {
				$(`#alert_${e.target.id}`).fadeOut('slow');
                $(`#alert_${e.target.id}`).remove()
			}, 3000);
        }
        </script>
</body>
</html>