<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RTSP Stream</title>
    <link href="https://vjs.zencdn.net/7.14.3/video-js.css" rel="stylesheet">
    <script src="https://vjs.zencdn.net/7.14.3/video.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/videojs-http-streaming@1.13.3/dist/videojs-http-streaming.min.js"></script>
    <link rel="stylesheet" th:href="@{/styles/bootstrap.min.css}" />
	<link rel="stylesheet" th:href="@{/styles/settings.css}" />
    <link rel="icon" th:href="@{/images/camera_indoor.svg}">
</head>
<body>
    <div id="savedAlert" class="alert alert-primary alert-dismissible fade show" role="alert" style="display: none; position: fixed; bottom: 0; right: 0; width: 350px; height: 75px; border-radius: 0; font-size: 20px; z-index: 9999;">
		Поток сохранён
		<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
	</div>
	<div id="deleteAlert" class="alert alert-danger alert-dismissible fade show" role="alert" style="display: none; position: fixed; bottom: 0; right: 0; width: 350px; height: 75px; border-radius: 0; font-size: 20px; z-index: 9999;">
		Поток удалён
		<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
	</div>
    <div id="loadingAlert" class="alert alert-secondary alert-dismissible fade show" role="alert" style="display: none; position: fixed; bottom: 0; right: 0; width: 350px; height: 75px; border-radius: 0; font-size: 20px; z-index: 9999;">
		<span id="loadingMessage"></span>
		<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
	</div>
    <div id="errorAlert" class="alert alert-danger alert-dismissible fade show" role="alert" style="display: none; position: fixed; bottom: 0; right: 0; width: 350px; height: 75px; border-radius: 0; font-size: 20px; z-index: 9999;">
		<span id="errorMessage"></span>
		<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
	</div>
    <header class="d-flex flex-wrap align-items-center justify-content-between bg-white custom-header px-15">
        <a href="/" style="cursor:pointer;">
            <img class="img-fluid " style="width: 400px; height: auto;" src="./images/logo.png"/>
        </a>

        <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
            <li><a href="/csv" id="importLink" class="nav-link px-2 link-primary fs-2">Просмотр таблиц</a></li>
            <li><a href="#" id="viewCamerasLink" class="nav-link px-2 link-primary fs-2">Просмотр камер</a></li>
        </ul>
        <div class="col-md-3 text-end">
            <button id="logoutButton" class="btn btn-outline-dark fs-2 rounded-pill ms-auto" onclick="logout()">Выйти</button>
        </div>
    </header>
  <div class="container mt-5">
    <h1 class="mt-3 mb-2">Просмотр камер</h1>
    <form id="streamForm" onsubmit="return false;" class="mb-3">
        <div class="mb-2">
            <label for="rtspName" class="form-label">Название RTSP потока:</label>
            <input type="text" id="rtspName" name="rtspName" class="form-control" required>
        </div>
        <div class="mb-2">
            <label for="rtspUrl" class="form-label">RTSP поток:</label>
            <input type="text" id="rtspUrl" name="rtspUrl" class="form-control" required>
        </div>
        <button type="submit" onclick="saveLink()" class="btn btn-primary mb-2">Сохранить поток</button>
    </form>

    <h2 class="py-2">Выбор потока:</h2>
    <div class="mb-2">
        <select id="rtspSelect" name="rtspSelect" class="form-select">
            <option value="">Выберите поток</option>
        </select>
    </div>
    <div class="mb-2 d-flex align-items-center">
        <button type="submit" onclick="startStream()" class="btn btn-success">Смотреть стрим</button>
        <button type="submit" id="stopButton" onclick="stopButton()" class="btn btn-secondary ml-2">Остановить стрим</button>
        <button type="submit" onclick="deleteLink()" class="btn btn-danger ml-2">Удалить поток</button>
    </div>

    <pre id="output" class="d-none"></pre>
    <div style="display: flex; justify-content: center;">
        <video id="streamVideo" class="video-js vjs-default-skin mt-4 mb-5" controls autoplay preload="auto" style="width: 800px; height: 450px;"></video>
    </div>
</div>

    <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
    <script>
        const apiBaseUrl = 'http://localhost:8080/api';
        let ws;
        function setLoggedIn(loggedIn) {
            localStorage.setItem('loggedIn', loggedIn);
        }
		function logout() {
			fetch(`${apiBaseUrl}/user/logout`, {
				method: 'POST',
				credentials: 'include' // Include cookies with the request
			})
			.then(response => {
				if (response.ok) {
					setLoggedIn(false);
					window.location.href = '/'; // Redirect to the home page
				} else {
					alert('Logout failed');
				}
			})
			.catch(error => {
				console.error('Error:', error);
				alert('Logout failed: ' + error);
			});
		}

        fetch(`${apiBaseUrl}/user/status`, {
            method: 'GET',
            credentials: 'include'
        })
        .then(response => {
            if (!response.ok) {
                setLoggedIn(false);
            }
        })
        .catch(error => {
            console.error('Error checking session status:', error);
            setLoggedIn(false);
        });

        fetch(`${apiBaseUrl}/rtsp/`, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/x-www-form-urlencoded'
            },
            credentials: 'include'
        })
        .then(response => response.json())
        .then(data => {
            data.forEach(rtspName => {
                const option = document.createElement('option');
                option.textContent = rtspName;
                document.getElementById('rtspSelect').appendChild(option);
            });
        })
        .catch(error => {
            console.error('Error:', error);
        });
        
        function stopButton() {
            if (ws) {
                ws.close();
                ws = null;
                const streamVideo = document.getElementById('streamVideo');
                const player = videojs(streamVideo);
                player.pause();
                player.reset();
            }
        }

        function showError(message) {
            const errorAlert = document.getElementById('errorAlert');
            const errorMessage = document.getElementById('errorMessage');
            errorMessage.textContent = message;
            $('#errorAlert').show();
            setTimeout(function() {
                $('#errorAlert').fadeOut('slow');
            }, 3000);
        }

        function showLoading(message) {
            const loadingAlert = document.getElementById('loadingAlert');
            const loadingMessage = document.getElementById('loadingMessage');
            loadingMessage.textContent = message;
            $('#loadingAlert').show();
        }
        
        function saveLink() {
            const rtspName = document.getElementById('rtspName').value;
            const rtspUrl = document.getElementById('rtspUrl').value;

            showLoading("Ссылка проверяется...")
            
            fetch(`${apiBaseUrl}/rtsp/save`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded'
                },
                body: new URLSearchParams({
                    rtspName: rtspName,
                    rtspUrl: rtspUrl
                })
            })
            .then(response => {
                if (response.ok) {
                    response.text().then(data => {
                        document.getElementById('output').innerText += data + '\n';
                        if (data == 'Rtsp link saved') {
                            const option = document.createElement('option');
                            option.textContent = rtspName;
                            document.getElementById('rtspSelect').appendChild(option);
                            $('#loadingAlert').hide();
                            $('#savedAlert').show();
                            setTimeout(function() {
                                $('#savedAlert').fadeOut('slow');
                            }, 3000);
                        }
                    });
                } else {
                    response.text().then(errorData => {
                        $('#loadingAlert').hide();
                        showError(errorData);
                        return;
                    })
                }
            })
            .catch(error => {
                console.error('Error:', error);
                showError(error);
            });
        }
        
        function deleteLink() {
            const rtspName = document.getElementById('rtspSelect').value;

            if (rtspName === '')
				return;

            if (ws && ws.rtspName === rtspName) {
                stopButton();
            }
            
            fetch(`${apiBaseUrl}/rtsp/delete`, {
                method: 'DELETE',
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded'
                },
                body: new URLSearchParams({
                    rtspName: rtspName
                })
            })
            .then(response => response.text())
            .then(data => {
                document.getElementById('output').innerText += data + '\n';
                var selectBox = document.getElementById('rtspSelect');
                selectBox.remove(selectBox.selectedIndex);
                $('#deleteAlert').show();
                setTimeout(function() {
                    $('#deleteAlert').fadeOut('slow');
                }, 3000);
            })
            .catch(error => {
                console.error('Error:', error);
            });
        }

        function startStream() {
            const rtspName = document.getElementById('rtspSelect').value;
            var username;

            if (rtspName == '') {
                document.getElementById('output').innerText += 'Please select a link\n';
                return;
            }
            
            if (ws && ws.rtspName === rtspName) {
                return;
            } else if (ws) {
                ws.close();
            }
            
            fetch(`${apiBaseUrl}/user/username`, {
                method: 'GET',
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded'
                },
                credentials: 'include'
            })
            .then(response => response.text())
            .then(data => {
                username = data;
                ws = new WebSocket(`ws://localhost:8080/ws/stream?rtspName=${rtspName}&username=${username}`);
                ws.rtspName = rtspName;
                ws.username = username;

                ws.onopen = () => {
                    console.log('WebSocket connection opened');
                    showLoading("Стрим загружается...")
                };

                ws.onmessage = (event) => {
                    console.log('Message from server ', event.data);
                    document.getElementById('output').innerText += event.data + '\n';
                };

                ws.onclose = (event) => {
                    console.log('WebSocket connection closed', event);

                };

                ws.onerror = (error) => {
                    console.log('WebSocket error', error);
                };
            })
            .catch(error => {
                console.error('Error:', error);
            });

            fetch(`${apiBaseUrl}/rtsp/stream`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded'
                },
                body: new URLSearchParams({
                    rtspName: rtspName
                }),
                credentials: 'include'
            })
            .then(response => response.text())
            .then(data => {
                console.log('Stream started', data);
                document.getElementById('output').innerText += `Stream started: ${data}\n`;

                var streamVideo = document.getElementById('streamVideo');
                var player = videojs(streamVideo, {
                    liveui: true,
                    techOrder: ['html5'],
                    html5: {
                        vhs: {
                            enableLowInitialPlaylist: true,
                            enableWorker: true,
                            useDevicePixelRatio: true,
                            overrideNative: !videojs.browser.IS_SAFARI,
                            handleManifestRedirects: true,
                            lowLatencyMode: true
                        }
                    }
                });

                player.src({
                    src: data,
                    type: 'application/x-mpegURL'
                });

                setTimeout(function() {
                    $('#loadingAlert').fadeOut('slow');
                }, 1000);

                player.play();
            })
            .catch(error => {
                console.error('Error:', error);
            });
        }

        window.addEventListener('beforeunload', () => {
            if (ws) {
                ws.close();
            }
        });
    </script>
</body>
</html>
